<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="styles.css">
  <title>Sign-in</title>
</head>

<body>
  <header class="header">
    <hr>
    <div class="header__container">
      <h2>JS BAND STORE/ Your full name</h2>
    </div>
    <hr>
  </header>
  <main>
    <div class="login__container">
      <img class="login__avatar" src="../../assets/avatar.png" alt="user avatar">
      <form class="login__form" action="/singin" method="post">
        <label for="username">Username</label>
        <input id="username" name="username" type="text" placeholder="type Username">
        <button class="sign__in" type="submit">Sign-in</button>
      </form>
    </div>
  </main>
</body>

</html>