.book {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  padding: 20px;
  margin: 20px;
  width: 400px;
  border: 2px solid #000;
}

.book__image {
  width: 360px;
}

.book__info-row {
  width: 100%;
  display: inline-flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
  padding: 10px;
}

.view__button {
  padding: 10px;
  border-radius: 5px;
  font-weight: bold;
  width: 100px;
}


.book__short-description {
  margin: 10px 10px 0;
  height: 75px;
  overflow: hidden;
}