.book {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 1.25rem;
  margin: 1.25rem;
  border: 0.125rem solid #000;
  border-radius: 0.5rem;
}

.book__info {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.book__image {
  width: 100%;
  height: 22.5rem;
}

.book__info-row {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 0.625rem;
  padding: 0.625rem;
}

.view__link {
  display: block;
  padding: 0.3125rem;
  border-radius: 0.3125rem;
  font-weight: bold;
  width: 6.25rem;
  color: #000;
  border: 0.0625rem solid black;
  text-align: center;
}


.book__short-description {
  margin: 0.625rem 0;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 20.5rem;
}
