.cart__container {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
  height: 39rem;
  position: relative;
}

.cart__container>img {
  width: 6.25rem;
  position: absolute;
  top: 13.125rem;

}

.purchase__button {
  padding: 0.3125rem;
  border-radius: 0.3125rem;
  font-weight: bold;
  position: absolute;
  top: 3.125rem;
  right: 11.25rem;
  
}

.purchase__button:hover {
  background-color: #04AA6D;
  color: #fff;
}

:disabled:hover {
  display: none;
}

table {
  width: 80%;
}

table,
th,
td {
  border: 0.0625rem solid #000;
  text-align: center;
  padding: 0.3125rem;
}

th {
  background-color: #04AA6D;
  color: #fff;
}

tr:nth-child(even) {
  background-color: #f2f2f2;
}

tr:hover {
  background-color: lightblue;
  color: #fff;
}

.total__price {
  position: absolute;
  right: 9.375rem;
  bottom: 6.25rem;
  color: red;
}