.book__price {
    display: flex;
    width: 100%;
    justify-content: flex-start;
    align-items: center;
    gap: 0.625rem;
  }
  
  #choosePrice {
    padding: 0.5rem;
    border-radius: 0.3125rem;
    font-weight: 400;
    font-size: 1.125rem;
    background-color: #fff;
    box-shadow: none;
    width: 9.375rem;
  }
  
  .choose-price {
    font-size: 1.125rem;
  }