.search-bar {
    width: 60%;
    margin: 20px;
    position: relative;
    border-radius: 12px;
  }
  
  input[type="text"] {
    width: 100%;
    padding: 1rem;
    border-radius: none;
    border: 0.125rem solid grey;
    background-color: #fff;
    font-family: inherit;
    font-size: 1.25rem;
    font-weight: 500;
    color: #000;
  }
  
  
  .search-bar__btn {
    position: absolute;
    right: 0;
    top: 0.5rem;
    padding: 0.625rem;
    background-color: transparent;
    border: none;
  }