.book__specification {
  display: flex;
  justify-content: space-between;
  padding: 0 20px;
  margin: 20px 0;
  width: 100%;
  height: 65vh;
}
.book__image-specification {
  width: 360px;
}

.book__info {
  margin-right: auto;
}

.book__description-specification {
  margin: 40px 20px;
}