.book__image {
  width: 450px;
}

.book-specification {
  display: flex;
  justify-content: space-between;
  padding: 0 20px;
  margin: 20px 0;
  width: 100%;
}

.book__info {
  margin-right: auto;
}


.add__button {
  width: 100px;
  padding: 5px;
  border-radius: 5px;
}

.book__description {
  margin: 40px 20px 0;
}
