.book__specification {
  display: flex;
  justify-content: space-between;
  padding: 0 1.25rem;
  margin: 1.25rem 0;
  width: 100%;
  height: 55vh;
}
.book__image-specification {
  width: 25rem;
  height: 25rem;
}

.book__info {
  margin-right: auto;
}

.book__description-specification {
  margin: 3.125rem 1.25rem;
}