.header {
    margin: 20px 0;
  }
  
  .header__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
    margin: 20px 0;
  }
  
  .navigation {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
  }
  
  .sign-out {
    padding: 10px;
    border-radius: 5px;
    font-weight: bold;
  }