.header {
      display: block;
      /* justify-content: space-between;
      align-items: baseline;  */
      width: 100%;
      height: 5.5rem;
      background-color: lightblue;
      color: #fff;
      position: sticky;
      top: 0;
      /* opacity: 0.9; */
    
  }
  
  .header__container {
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding:  1.5rem;
    /* margin: 0 20px; */
  }
  
  .navigation {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 2rem;
    
  }
  
  .sign-out {
    padding: 0.5rem;
    border-radius: 0.5rem;
    font-weight: bold;
  }

  .sign-out:hover {
    background-color: red;
    color: #fff;
    /* transition: 0.3s; */
  }

 