.book__order {
  border: 0.125rem dashed grey;
  width: 21.875rem;
  height: fit-content;
  padding: 0.625rem;
}

.order__row {
  width: 100%;
  display: inline-flex;
  justify-content: space-between;
  margin-bottom: 0.625rem;
}

.row__label {
  font-weight: bold;
}

.count__quantity {
  width: 3.75rem;
  border-radius: 0.3125rem;
  padding: 0.1875rem;
}

.order__button {
  display: flex;
  justify-content: flex-end;
  margin-top: 5rem;
}


.add__button {
  width: 6.25rem;
  padding: 0.3125rem;
  border-radius: 0.3125rem;
  font-size: 1rem;
  font-weight: 500;
}

.add__button:hover {
  background-color: #04AA6D;
  color: #fff;
}