.cart-counter {
  position: relative;
}

.cart-counter__count {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: -0.625rem;
  right: -0.3125rem;
  border-radius: 50%;
  background-color: red;
  color: #fff;
  min-width: 1.25rem;
  min-height: 1.25rem;
  font-size: 0.875rem;
  font-weight: 600;
}
